
/*  BASE TEMPLATE */
header img {
    width: 42px;
    height: 42px;
}

/* AUTO FIXTURE TEMPLATE */
.col-centered{
    margin: 0 auto;
    float: none;

}

#loading-indicator {
    display:block;
    margin: 0 auto;
}