{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    {% if msg %}
    <div class="row">
        <div class="col-md-12" id="msg">
            <div class="alert alert-success" role="alert">
                {{ msg }}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
    <div class="col-md-4 text-center col-centered mt-5">

        <form action="" method="POST" class="form" id="auto_fixture_form">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">№</span>
                </div>
                {{ form.how_many_persons }}
            </div>
{#            <div class="input-group mb-3">#}
{#                <div class="input-group-prepend">#}
{#                    <span class="input-group-text" id="basic-addon2">@</span>#}
{#                </div>#}
{#                {{ form.max_docs }}#}
{#            </div>#}
            <button class="btn btn-primary" type="submit">Создать персоны</button>
        </form>
    </div>
    </div>
    <img src="{% static 'img/loading.gif' %}" id="loading-indicator" style="display:none" />

    <script>
        var autofixtures_url = '{% url 'autofixtures' %}'
    </script>
{% endblock %}
