<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

        <h5 class="my-0 mr-md-auto font-weight-normal">
            <a href="{% url 'viewer' %}"><img src="{% static 'img/nav_logo.png' %}"/>
            </a>
        </h5>

        <form action="{% url 'viewer' %}" method="POST" class="form-inline ml-1 mr-md-auto" id="search-form">
            {% csrf_token %}
            {{ search_form.text_search }}
            {{ search_form.birthday_search }}
            {{ search_form.study_from_search }}
            {{ search_form.study_to_search }}

            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Фильтровать</button>
        </form>

        <a href="{% url 'autofixtures' %}" class="btn btn-outline-success my-2 my-sm-0">Автозаполнение базы</a>
    </div>

</header>

<div class="container">
    {% block content %}

    {% endblock %}
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
                crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
                crossorigin="anonymous"></script>
<script src="{% static 'js/datepicker.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>