{% extends 'base.html' %}


{% block content %}
    <div class="row">
        <div class="col-md-6 ">
            <form action="{% url 'detail_person_save' pk=pk %}" method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <label for="fio">ФИО</label>
                    {{ form.fio }}
                </div>
                <div class="form-group">
                    <label for="birthday_date">Дата рождения</label>
                    {{ form.birthday_date }}
                </div>
                <div class="form-group">
                    <label for="sex">Пол</label>
                    {{ form.sex }}
                </div>
                <div class="form-group">
                    <label for="fio">Телефон</label>
                    {{ form.mobile_number }}
                </div>
                <div class="form-group">
                    <label for="period_of_study_from">Срок обучения с</label>
                    {{ form.period_of_study_from }}
                </div>
                <div class="form-group">
                    <label for="period_of_study_to">Срок обучения по </label>
                    {{ form.period_of_study_to }}
                </div>
                <div class="form-group">
                    <label for="group">Группа</label>
                    {{ form.group }}
                </div>
                <div class="form-group">
                    <label for="edu_organization">Наименование учебного заведения</label>
                    {{ form.edu_organization }}
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
        <div class="col-md-6 ">
            <form action="{% url 'detail_person_doc_save' pk=pk %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="fio">Номер док-та</label>
                    {{ form_docs.number }}
                </div>
                <div class="form-group">
                    <label for="fio">Дата выдачи</label>
                    {{ form_docs.extradition_date }}
                </div>
                <div class="form-group"
                    <label for="fio">Тип док-та</label>
                    {{ form_docs.doc_type }}
                </div>
                <div class="form-group">
                    <label for="fio">Скан док-та</label>
                    {{ form_docs.doc_scan }}
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>

{% endblock %}