{% extends 'base.html' %}


{% block content %}
    {% if persons %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ФИО</th>
                <th scope="col">Дата рождения</th>
                <th scope="col">Пол</th>
                <th scope="col">Тел.</th>
                <th scope="col">Обучение с</th>
                <th scope="col">Обучение по</th>
                <th scope="col">Группа</th>
                <th scope="col">Заведение</th>
                <th scope="col">Номер док-та</th>
            </tr>
            </thead>
            <tbody>
            {% for person in persons %}
                <tr>
                    <td><a href="{{ person.pk }}">{{ person.fio }}</a></td>
                    <td>{{ person.birthday_date }}</td>
                    <td>{{ person.sex }}</td>
                    <td>{{ person.mobile_number }}</td>
                    <td>{{ person.period_of_study_from }}</td>
                    <td>{{ person.period_of_study_to }}</td>
                    <td>{{ person.group }}</td>
                    <td>{{ person.edu_organization }}</td>
                    {% for doc in person.docs %}
                        <td>{{ doc.number }}</td>
                    {% endfor %}
                </tr>

            {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if persons.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ persons.previous_page_number }}">Предыдущая</a>
                    </li>
                {% endif %}
                <p>Страница {{ persons.number }} из {{ persons.paginator.num_pages }}.</p>
                {% if persons.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ persons.next_page_number }}">Следующая</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% else %}
        <div class="alert alert-danger" role="alert">
            База пуста, заполните базу!
        </div>
    {% endif %}
{% endblock %}